@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-gray-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-input-focus focus:bg-white;
  }
  .table__th {
    @apply whitespace-nowrap border-b-1 border-sky-900 text-right pr-[2rem] pl-[1rem] pb-[0.75rem]
  }
  .table__td {
    @apply text-slate-200 border-b-2 border-sky-900 py-[1rem] pr-[2rem] pl-[1rem]
  }
  .btn {
    @apply px-4 py-2 text-white rounded-3xl bg-blue-600 flex items-center font-bold hover:bg-blue-500 transition-all duration-250 shadow-lg shadow-blue-800;
  }
  .btn-secendary {
    @apply mb-4 border rounded-lg p-1 bg-gray-800/40 hover:bg-gray-500/40 border-gray-700 transition-all duration-250
  }
  .btn__third {
    @apply bg-slate-800/50 hover:bg-slate-700 transition-all duration-250 py-1 px-2 rounded-lg flex items-center justify-center gap-1
  }
  .productDetails__like {
    @apply text-rose-600 hover:text-rose-400 p-3 w-full rounded-xl bg-blue-950/90 hover:bg-blue-900/30 transition-all duration-250 flex justify-center
  }
  .receipt-section {
    @apply w-full sm:max-w-sm bg-sky-600/50 p-8 rounded-2xl shadow-blue-900/50 hover:shadow-xl hover:shadow-blue-800/40 transition-all duration-300
  }
  .receipt-section2 {
    @apply w-full sm:max-w-sm bg-sky-900/50 p-4 rounded-2xl shadow-sky-950/50 hover:shadow-xl hover:shadow-blue-800/40 transition-all duration-300
  }
  .main-bg-color {
    @apply bg-gradient-to-tl from-sky-950 from-10% via-blue-950 via-30% to-sky-900 to-90%
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  color: azure;
  background-color: rgb(7, 12, 22);
}


@font-face {
  font-family: vazir;
  src: url("../../public/fonts/vazir/Vazirmatn-Medium.woff2");
  format: ("woff2");
  font-display: swap;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #134a9c6c;
}

::-webkit-scrollbar-thumb {
  background: #1b60cfd2;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f73e1;
}