@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-gray-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-gray-300 focus:outline-none focus:border-gray-300 focus:shadow-input-focus focus:bg-white;
  }
  .btn {
    @apply px-4 py-2 text-white rounded-3xl bg-blue-600 flex items-center font-bold hover:bg-blue-500 transition-all duration-250 shadow-lg shadow-blue-800;
  }
  .btn-secendary {
    @apply mb-4 border rounded-lg p-1 bg-gray-800/40 hover:bg-gray-500/40 border-gray-700 transition-all duration-250
  }
  .receipt-section {
    @apply w-full sm:max-w-sm bg-sky-600/50 p-8 rounded-2xl shadow-blue-900/50 hover:shadow-xl hover:shadow-blue-800/40 transition-all duration-300
  }
  .receipt-section2 {
    @apply w-full sm:max-w-sm bg-sky-900/50 p-4 rounded-2xl shadow-sky-950/50 hover:shadow-xl hover:shadow-blue-800/40 transition-all duration-300
  }
  .main-bg-color {
    @apply bg-gradient-to-tl from-sky-950 from-10% via-blue-950 via-30% to-sky-900 to-90%
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  color: azure;
  background-color: rgb(7, 12, 22);
}


@font-face {
  font-family: vazir;
  src: url("../../public/fonts/vazir/Vazirmatn-Medium.woff2");
  format: ("woff2");
  font-display: swap;
}